# Debug files
*dSYM*
in.txt
out.txt
infile
outfile
storage
TODO

# VScode files
.vscode

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
webserv
*.exe
*.out
*.app

# Addons
.DS_Store
.vscode
tempCodeRunnerFile.py
